<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/efoodsaver_db?useSSH=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.sandun.web.entities.User"/>
        <mapping class="com.sandun.web.entities.UserType"/>
        <mapping class="com.sandun.web.entities.address.Address"/>
        <mapping class="com.sandun.web.entities.address.City"/>
        <mapping class="com.sandun.web.entities.address.District"/>
        <mapping class="com.sandun.web.entities.address.Province"/>
        <mapping class="com.sandun.web.entities.address.Location"/>

    </session-factory>
</hibernate-configuration>